.config-title {
  font-size: 1.8em;
  margin: 2px 0;
  color: white;
}

.dashboard {
  justify-content: space-between;
  width: 100%;
  min-height: 120px;
}

.dashboard-col {
  width: 50%;
  background-color: #ec407a;
  border: 2px solid white;
  padding: 12px;
}

.dashboard-col:first-of-type {
  margin: 0 2px 4px 0;
}

.dashboard-col:last-of-type {
  margin: 0 0 4px 2px;
}

.dashboard-row {
  /* margin: 0 0 auto 0; */
}

.dashboard-row:last-of-type {
  margin-top: auto;
}
