.keys-container {
  position: relative;
  overflow: hidden;
}

.key-wrapper {
  margin: 0;
}

.sharp-key-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
}

.not-so-sharp-key-container {
  display: flex;
  flex-direction: row;
}

.not-so-sharp-key-wrapper {
  height: 240px;
  margin: 0 3px;
  flex: 1;
}

.not-so-sharp-key-wrapper > button {
  background-color: #fff;
}

.sharp-key-wrapper {
  height: 180px;
  flex: 4;
  pointer-events: all;
}

.sharp-key-wrapper > button {
  background-color: #d5d5d5;
}

.seperator {
  pointer-events: none;
}
