.keys-container {
  position: relative;
  overflow: hidden; }

.key-wrapper {
  margin: 0; }

.sharp-key-container {
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%; }

.not-so-sharp-key-wrapper {
  height: 300px;
  margin: 0 3px;
  flex: 1; }
  .not-so-sharp-key-wrapper:nth-of-type(1) {
    margin: 0 3px 0 0; }
  .not-so-sharp-key-wrapper:last-of-type {
    margin: 0 0 0 3px; }
  .not-so-sharp-key-wrapper > button {
    background-color: #fff; }

.sharp-key-wrapper {
  height: 180px;
  flex: 4;
  pointer-events: all; }
  .sharp-key-wrapper > button {
    background-color: #e91e63; }

.seperator {
  pointer-events: none; }

.sep-x {
  flex: 3.8; }

.sep-se {
  flex: 5.5; }

.sep-magic {
  flex: 11.6; }
