.wave-input {
  align-items: center;
  cursor: pointer; }
  .wave-input > img {
    margin: 5px 12px;
    cursor: pointer; }
  .wave-input > input {
    position: fixed;
    opacity: 0;
    cursor: pointer; }
  .wave-input > input[type='radio']:checked + img {
    background-color: #e65100;
    outline: 2px solid #880e4f;
    padding: 5px 8px;
    margin: 0 3px; }
