.dashboard-button {
  outline: none;
  cursor: pointer;
  border: none;
  min-width: 50px;
  height: 35px;
  background-color: #ffeb3b;

  border-bottom: 3px solid #F9A825;
  transition: border-bottom 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dashboard-button-focus {
  border-bottom: 0px solid #F9A825;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
