.ripple {
  position: absolute;
  border-radius: 50%;

  display: block;
  background-color: white;
  opacity: 0;
}

.rippled {
  animation: rippled 1s 1;
  top: 0px;
}

@keyframes rippled {
  0% {
    opacity: 0.6;
    width: 0em;
    height: 0em;
  }
  100% {
    opacity: 0;
    width: 7em;
    height: 7em;
  }
}
