.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-family: 'Libre Barcode 39 Extended', cursive;
  font-size: 5em;
  color: white;

  margin: 40px 0;

  @media screen and (max-width: 1280px) {
    margin-top: 15%;
    font-size: 3em;
  }

  @media screen and (max-height: 600px) {
    display: none;
  }
}

.keyboard-wrapper {
  width: 70%;

  @media screen and (max-width: 1280px) {
    width: 100%;
    margin: auto 0 0 0;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.mobile-message {
  display: none;

  @media screen and (max-width: 600px) {
    display: inherit;
  }
}
