body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  height: 100vh;

  background: #1e88e5;
}

#root {
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
