* {
  font-family: 'Share Tech Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-res {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1280px) {
    flex-direction: column;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}
